body{
    background-color: rgba(171, 207, 244, 0.945);
    margin-left:80px;
    margin-right:80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size:120%;
}

header{
    width: 75%;
    font-size:140%;
    text-align: center;
}

#img{
    width: 200px;
    height: auto;
}
#ind{
    width: 350px;
    height: auto;
    float: right;
}
.article{
    width: 80%;
    
}

aside{
    text-align: center;
    float: right;
    width: 15%;
    background-color:beige;
    padding: 15px;
    margin-left:100px;
    
}

footer{
    float: right;
}

